{% extends 'base_user_interface.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="about-block">
    <div class="about-header">
        <h1 class="about">About Us</h1>
    </div>
    <div class="about-us">
        <p>Welcome to Super Car Wash, your premier destination for professional car cleaning services in India. With a commitment to excellence and customer satisfaction, we strive to deliver the highest quality car care solutions to meet the diverse needs of our clients.</p>
        
        <p>At Super Car Wash, we understand the importance of maintaining the appearance and condition of your vehicle. With our state-of-the-art facilities and experienced team of technicians, we offer a wide range of services to ensure your car looks its best, inside and out.</p>
        
        <p>Our eco-friendly approach to car washing and detailing sets us apart in the industry. We use advanced equipment and biodegradable cleaning products to minimize environmental impact while delivering superior results. Whether you need a quick wash or a comprehensive detailing service, you can trust Sparkle Car Wash to exceed your expectations.</p>
        
        <p>Customer satisfaction is at the heart of everything we do. Our friendly staff is dedicated to providing personalized service and attention to every customer, ensuring a positive experience with every visit. We believe in building long-term relationships with our clients, and we strive to earn your trust and loyalty with every interaction.</p>
        
        <p>Experience the difference with Super Car Wash and discover why we're the preferred choice for car owners across India. Visit us today and let us help you keep your car looking and feeling its best!</p>
    </div>
    
</div>

{% endblock %}